* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
}
nav {
    background-color:darkblue;
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: steelblue;
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}
p {
   margin: 1rem;
}
main{
    max-width: 840px;
}
p {
    padding: 0;
}
aside {
    width: 20em;
    margin: 1em;
    border: 1px solid rgba(0, 0, 0, 0.2); /* 1️⃣ */
    padding: 1em;
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative
}
aside img {
    width: 200px;
    height: auto;
}
aside h2 {
    position: absolute;
    top: 60px;
    left: 140px;
}
footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}


.indent {
    padding-left: 2rem;
}